// Background Colors
$background-color: #fff9f9;
$navbar-background-color: #faeefc;

// Table Colors
$todo-table-header: #fac3ff;
$progress-table-header: #85d9f1;
$completed-table-header: #ceffcc;

// Button Colors
$add-button-color: #7b1984;
$logout-button-color: #fff9f9;
$logout-button-border-color: #ebd8e8;

// Grey Shades
$light-grey-200: #f1f1f1;
$light-grey-300: #e7e7e7;
$light-grey-400: #ccc;
$grey-500: #acacac;
$grey-600: #777;

// Common Colors
$light-black: #212121;
$white: #fff;
$red: #ff0000;
$green: #008000;

// Additional Colors for Login Page
$primary: #2a49e3; // Using the add-button color as primary
$secondary: #6be4a5;
$primary-text: #212121; // Light black for text
$secondary-text: #777; // Grey-600 for subtitles
$light-gray: #e7e7e7; // Light-grey-300 for input borders